 /*white smoke #f4f4f9*/

body{
    font-family: 'Courier Prime', monospace;
    background: #f1fffa;
    overflow-x:hidden;

}
.icon-top{
    background: rgb(185, 201, 192);
}
.icon-top a{
    color: #f1aa67;
    font-size: 25px;
    transition:color 0.5s ease;
}



/*#########navbar##############*/

.navbar {
  background: #eaf8f4 !important;
  padding: 0px 0px!important;

  transition: padding 0s ease;
}


.navbar-background {
  padding: 1px 5px !important
}


.nav-item{
  padding: 0px;
  margin: 0px;
}

.navbar-brand {
  color: #2a9;
 
  font-size: 25px;
  transition: all 0.3s;
}

/* .navbar-brand:hover {

  color: #242424;
} */



.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: #2a9;
  /*transition: all 0.5s ease;*/
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}




.nav-link {
  color: #2a9;
  font-size: 25px;
  padding: 10px 20px!important;
  border-radius: 5px;
  transition: background 0.1s ease-in-out;
}

.nav-link:hover {
  background: #f1aa67;
  color: #f1fffa;

}

.nav-active {
  color: #f1fffa;
  font-size: 25px;
  padding: 10px 20px!important;
  border-radius: 5px;
  background: rgba(42, 145, 52, 0.6);
  transition: background 2s ease;
}



/*#################banner##############*/
.slide-des{
  padding-bottom: 10px;
  padding-right: 150px;
}

.item-1{
  /* max-width:70vh; */
  min-height: 70vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);

}


.item-1 {
  background: linear-gradient(to right,rgba(34, 170, 153, 0.5), rgba(34, 170, 153, 0.5)), url(img/banner-2.jpeg) center/cover fixed repeat;
}

.no-padding {
  padding: 0;
}



/*###################title#########*/

.title h1 {
  color: #242424;
}

.title h3 {
  color: #5a5a5a;
}

.title-underline {
  height: 5px;
  width: 250px;
  background: #2a9;
  margin: -28px auto 0 auto;
}

.title span {
  color: #2a9;
  font-size: 30px;
  padding: 0px 10px;
  display: inline-block;
  background: #f1fffa;

}


/*###########skills##################*/






.resume{
  border: #eaf8f4 !important;
  background: #2a9 !important;
}

/*#############projects##########*/

.btn-group .btn{
  font-size: 20px;
}

#projects button {
  padding: 0px !important;

  background: #2a9;
  color: #f1fffa;
  transition: all 1s ease;
}


#projects button:hover {
  background: #242424;
}

.img-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(181, 181, 14, 0.9), rgba(181, 181, 14, 0.9));
}

.img-container img {
  transition: all 2s ease-in-out;
  opacity: 1;
}

.img-container:hover .project-image {
  opacity: 0.3;
  transform: scale(1.3);
}

.search-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #2a9;
  transition: margin 2s ease-in-out, color 0.5s ease-in-out, opacity 0.75s ease-in-out;
  margin-top: -50%;
  opacity: 0;
}
.search-link{
  font-size: 1rem !important;
}
.fontsize{
  font-size: 4rem !important;
}
.search-link:hover {
  color: #242424;
}

.img-container:hover .search-link {
  margin-top: 0;
  opacity: 1;

}





/*############values##############*/

.value {
  position: relative
}

.value-icon {
  font-size: 60px;
  color: #f1fffa;
  background: #242424;
  padding: 25px 35px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: all 2s ease;

}

.value-number {
  padding: 15px;
  background: #2a9;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
  top: -12%;
  left: 57%;
  transition: all 2s ease;
  color: #242424;
}

.value:hover .value-icon {
  background: #2a9;
  transform: scale(1.2);
}

.value:hover .value-number {
  background: #242424;
  color: #f1fffa;
  transform: scale(0.9);
}




/*##############footer###################*/

footer {
  background: #242424;
}

.footer-icons a {
  color: #2a9;
  font-size: 25px;
  transition: color 1s ease;

}

.footer-icons a:hover {
  color: #f1fffa;
}

footer h5 {
  color: #f1fffa;
}
